NEXT_PUBLIC_DYNAMIC_ENVIRONMENT_ID=
DYNAMIC_API_TOKEN=
ETHEREUM_RPC_URL=
ARC_TESTNET_RPC_URL=https://rpc.testnet.arc.network
DATABASE_FILE=
NEXT_PUBLIC_APP_URL=http://localhost:3000
FLOW_WEBHOOK_SECRET=
